.page-card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-content-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px !important;
}

.card-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 200px;
    height: 200px;
    margin-bottom: 0;
}

.card-content {
    max-width: 50vw;
}

.card-votes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.like-button {
    outline: 0 !important;
    margin-left: 0.3rem;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    .card-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 0;
        margin-left: 5px;
    }

    .card-content-wrapper {
        padding: 10px 10px !important;
    }
}