.page-card {
    display: flex;
    margin: 15px;
    /*justify-content: space-between;*/
    height: 20vh;
}
.card-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.card-image{
    width: 200px;
}
.image-wrapper {
    /*wid*/
}
.card-votes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.like-button {
    outline: 0 !important;
    margin-left: 0.2rem;
}