.my-button {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed !important;
    background-color: orangered !important;
    color: white !important;
    outline: 0 !important;
}